Creamos el diccionario

In [3]:
planet = {
    'name':'mars',
    'number' : 2
}

Accedemos a un valor dada su llave

In [9]:
planet.get('name')

'mars'

Con un ciclo for accedemos a la llave y valor

In [20]:
for planeta in planet.keys():
    print(planeta , ":" , planet[planeta])

name : mars
number : 2

In [24]:
planet['circunferencia (km)']= {
    'polar': 6752,
    'equatorial': 6792
}

In [37]:
print( "El planeta", planet['name'], "Tiene una circunferencia polar de", 
planet['circunferencia (km)']['polar'], "km"
 )

El planeta mars Tiene una circunferencia polar de 6752 km

Ejercicio 2

In [1]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [19]:
planets = len(planet_moons)
totalmoons = 0
for moons in planet_moons.values():
    totalmoons = totalmoons + moons

In [21]:
promedio = totalmoons/planets
print("El promedio de lunas en el sistema solar es :", promedio )

El promedio de lunas en el sistema solar es : 17.833333333333332